body {
	background-color: #ffffff;
}

#google_translate_element {
	position: absolute;
	top: 10px;
	right: 10px;
}

/* 凡例エリア */
div.hanreiarea {
	//position: absolute;
	//top: 420px;
	//left: 560px;
	//width: 50px;
}

/* 凡例のタイトル */
.hanrei-title{
	font-size:12px;
	color:#FFFFFF;
	background-color:#0000FF;
	text-align:center;
}


/* はん濫注意情報 */
span.wrnng {
	color: #ffff00;
}
td.wrnng {
	background-color: #ffff00;
}
a.wrnng {
	color: blue;
}

/* はん濫警戒情報 */
span.alarm {
	color: #ff0000;
}
td.alarm {
	background-color: #ff0000;
}
a.alarm {
	color: blue;
}

/* はん濫危険情報 */
span.dangerous {
	color: #ff0000;
}
td.dangerous {
	background-color: #ff0000;
}
a.dangerous {
	color: white;
}

/* 解除 */
span.release {
	color: #727272;
}
td.release {
	background-color: #727272;
}
a.release {
	color: blue;
}

/* はん濫発生情報 */
span.generation {
	color: #000000;
}
td.generation {
	background-color: #000000;
	color: #ffffff;
}
a.generation {
	color: white;
}

